// WiFi configuration
#define SECRET_SSID ""                 // SSID
#define SECRET_PASS ""               // WiFi password

  
// MQTT access
#define MQTT_BROKERIP ""             // IP address of the machine running the MQTT broker
#define MQTT_CLIENTID " "                 // client identifier
#define MQTT_USERNAME ""                    // mqtt user's name
#define MQTT_PASSWORD ""                   // mqtt user's password
#define MQTT_PORT ""
  